**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
**/node_modules
Backups/
Data/
Uchat/bin/
Uchat/obj/
README.md
SETUP_INSTRUCTIONS.md
.config/
